/* login.module.css */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  padding: 15px;
}

.login-wrapper {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.img-side {
  width: 50%;
  background: url("/bg-01.jpg") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.img-side img {
  width: 80%;
}

.form-side {
  width: 50%;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 25px;
  font-size: 14px;
  outline: none;
}

.button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  background: linear-gradient(90deg, #57a1ff 0%, #6a9eff 100%);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #45a236;
}

.forgot {
  margin-top: 15px;
  text-align: center;
}

.forgot a {
  font-size: 13px;
  color: #999;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: underline;
}